.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #ffffff;
  border: 1px none;
  height: 2163px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.landing-page .overlap {
  height: 1232px;
  left: 0;
  position: absolute;
  top: -332px;
  width: 1501px;
}

.landing-page .ellipse {
  background-color: #7d59c3;
  border-radius: 256.5px;
  filter: blur(200px);
  height: 513px;
  left: 322px;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 513px;
}

.landing-page .rectangle {
  height: 900px;
  left: 0;
  position: absolute;
  top: 332px;
  width: 1440px;
}

.landing-page .img {
  height: 900px;
  left: 845px;
  object-fit: cover;
  position: absolute;
  top: 332px;
  width: 595px;
}

.landing-page .group {
  height: 54px;
  left: 75px;
  position: absolute;
  top: 359px;
  width: 90px;
}

.landing-page .text-wrapper {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 290px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
}

.landing-page .text-wrapper-2 {
  color: #7c5ac7;
  font-family: "Lexend-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 218px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
}

.landing-page .text-wrapper-3 {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 378px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
}

.landing-page .text-wrapper-4 {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 462px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
}

.landing-page .text-wrapper-5 {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 569px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
}

.landing-page .text-wrapper-6 {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 665px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 372px;
}

.landing-page .ellipse-2 {
  background-color: #7c5ac7;
  border-radius: 3px;
  height: 6px;
  left: 236px;
  position: absolute;
  top: 401px;
  width: 6px;
}

.landing-page .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 75px;
  position: absolute;
  top: 522px;
  width: fit-content;
}

.landing-page .unprecedented-era-of {
  color: transparent;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-size: 71px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 92.3px;
  margin-top: -1px;
  position: relative;
  width: 548px;
}

.landing-page .span {
  color: #2f3130;
}

.landing-page .text-wrapper-7 {
  color: #9e2349;
}

.landing-page .p {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.6px;
  opacity: 0.5;
  position: relative;
  width: 548px;
}

.landing-page .frame-2 {
  align-items: center;
  background-color: #7d59c3;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #7d59c333;
  display: flex;
  gap: 9px;
  justify-content: center;
  left: 75px;
  padding: 20px 40px;
  position: absolute;
  top: 900px;
  width: fit-content;
}

.landing-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.landing-page .arrow-right-line {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.landing-page .div-wrapper {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 1238px;
  padding: 20px 40px;
  position: absolute;
  top: 353px;
  width: fit-content;
}

.landing-page .text-wrapper-9 {
  color: #7d59c3;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.landing-page .frame-3 {
  align-items: center;
  border: 1.5px solid;
  border-color: #ffffff;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 1065px;
  padding: 20px 40px;
  position: absolute;
  top: 353px;
  width: fit-content;
}

.landing-page .text-wrapper-10 {
  color: #ffffff;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.landing-page .frame-4 {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  left: 75px;
  position: absolute;
  top: 1070px;
  width: fit-content;
}

.landing-page .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.landing-page .text-wrapper-11 {
  color: #7c5ac7;
  font-family: "Lexend-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.landing-page .text-wrapper-12 {
  color: #2f3130;
  font-family: "Lexend-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 190px;
}

.landing-page .text-wrapper-13 {
  color: #9e2349;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 108px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 497px;
  white-space: nowrap;
}

.landing-page .line {
  height: 4px;
  left: 75px;
  position: absolute;
  top: 509px;
  width: 23px;
  background: #9e2349;
}

.landing-page .overlap-wrapper {
  height: 693px;
  left: 767px;
  position: absolute;
  top: 474px;
  width: 363px;
}

.landing-page .overlap-group {
  background-color: #ffffff;
  border-radius: 50px;
  height: 719px;
  left: -13px;
  position: relative;
  top: -13px;
  width: 351px;
}

.landing-page .group-2 {
  height: 17px;
  left: 144px;
  position: absolute;
  top: 178px;
  width: 178px;
}

.landing-page .group-3 {
  background-color: #1c6de2;
  height: 7px;
  left: 0;
  position: absolute;
  top: 0;
  width: 178px;
}

.landing-page .rectangle-wrapper {
  background-color: #00963936;
  height: 7px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 178px;
}

.landing-page .rectangle-2 {
  background-color: #009639;
  border-radius: 0px 36.11px 36.11px 0px;
  height: 7px;
  width: 118px;
}

.landing-page .overlap-2 {
  height: 473px;
  left: 25px;
  position: absolute;
  top: 209px;
  width: 302px;
}

.landing-page .group-4 {
  height: 17px;
  left: 119px;
  position: absolute;
  top: 354px;
  width: 181px;
}

.landing-page .group-5 {
  background-color: #1c6de2;
  height: 7px;
  left: 0;
  position: absolute;
  top: 0;
  width: 181px;
}

.landing-page .group-6 {
  background-color: #00963936;
  height: 7px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 181px;
}

.landing-page .rectangle-3 {
  background-color: #009639;
  border-radius: 0px 36.11px 36.11px 0px;
  height: 7px;
  width: 120px;
}

.landing-page .text-wrapper-14 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 72px;
}

.landing-page .text-wrapper-15 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 385px;
  white-space: nowrap;
  width: 72px;
}

.landing-page .text-wrapper-16 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 79px;
}

.landing-page .text-wrapper-17 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 385px;
  white-space: nowrap;
  width: 79px;
}

.landing-page .text-wrapper-18 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 75px;
}

.landing-page .text-wrapper-19 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 385px;
  white-space: nowrap;
  width: 75px;
}

.landing-page .text-wrapper-20 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 61px;
}

.landing-page .text-wrapper-21 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 402px;
  white-space: nowrap;
  width: 54px;
}

.landing-page .text-wrapper-22 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 108px;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 61px;
}

.landing-page .text-wrapper-23 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 108px;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 402px;
  white-space: nowrap;
  width: 54px;
}

.landing-page .text-wrapper-24 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 220px;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 61px;
}

.landing-page .text-wrapper-25 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 220px;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 402px;
  white-space: nowrap;
  width: 54px;
}

.landing-page .element-yield {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 207px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 325px;
  white-space: nowrap;
  width: 78px;
}

.landing-page .text-wrapper-26 {
  font-weight: 700;
}

.landing-page .text-wrapper-27 {
  font-family: "Roboto-Regular", Helvetica;
}

.landing-page .line-2 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 53px;
  width: 301px;
}

.landing-page .line-3 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 246px;
  width: 301px;
}

.landing-page .line-4 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 438px;
  width: 301px;
}

.landing-page .group-7 {
  height: 469px;
  left: 12px;
  position: absolute;
  top: 4px;
  width: 277px;
}

.landing-page .ellipse-wrapper {
  background-color: #ffffff;
  border-radius: 30.09px;
  box-shadow: 0px 7.22px 12.04px #7d59c31a;
  height: 60px;
  left: 0;
  position: absolute;
  top: 409px;
  width: 277px;
}

.landing-page .ellipse-3 {
  background-color: #7c5ac7;
  border-radius: 2.41px;
  height: 5px;
  left: 46px;
  position: relative;
  top: 47px;
  width: 5px;
}

.landing-page .group-8 {
  height: 11px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 24px;
}

.landing-page .group-9 {
  height: 11px;
  left: 96px;
  position: absolute;
  top: 0;
  width: 24px;
}

.landing-page .group-10 {
  height: 11px;
  left: 156px;
  position: absolute;
  top: 0;
  width: 24px;
}

.landing-page .group-11 {
  height: 11px;
  left: 217px;
  position: absolute;
  top: 0;
  width: 24px;
}

.landing-page .text-wrapper-28 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 284px;
  width: 132px;
}

.landing-page .rectangle-4 {
  height: 114px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 96px;
}

.landing-page .text-wrapper-29 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16.9px;
  font-weight: 700;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 259px;
  white-space: nowrap;
  width: 57px;
}

.landing-page .element-yield-2 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 232px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 149px;
  white-space: nowrap;
  width: 78px;
}

.landing-page .line-graph {
  height: 7px;
  left: 147px;
  position: absolute;
  top: 167px;
  width: 37px;
}

.landing-page .text-wrapper-30 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16.9px;
  font-weight: 700;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43px;
  white-space: nowrap;
  width: 94px;
}

.landing-page .text-wrapper-31 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 108px;
  width: 132px;
}

.landing-page .rectangle-5 {
  height: 114px;
  left: 25px;
  position: absolute;
  top: 83px;
  width: 96px;
}

.landing-page .text-wrapper-32 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16.9px;
  font-weight: 700;
  left: 148px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 83px;
  white-space: nowrap;
  width: 52px;
}

.landing-page .overlap-group-wrapper {
  height: 693px;
  left: 1142px;
  position: absolute;
  top: 474px;
  width: 359px;
}

.landing-page .overlap-3 {
  background-color: #ffffff;
  border: 13px solid;
  border-color: #ffffff4c;
  border-radius: 50px;
  height: 719px;
  left: -13px;
  position: relative;
  top: -13px;
  width: 351px;
}

.landing-page .overlap-4 {
  height: 200px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 298px;
}

.landing-page .overlap-5 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 298px;
}

.landing-page .rectangle-6 {
  height: 132px;
  left: 0;
  position: absolute;
  top: 0;
  width: 298px;
}

.landing-page .ellipse-4 {
  height: 106px;
  left: 7px;
  position: absolute;
  top: 94px;
  width: 106px;
}

.landing-page .text-wrapper-33 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16.9px;
  font-weight: 700;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 142px;
  white-space: nowrap;
  width: 82px;
}

.landing-page .text-wrapper-34 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 118px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 165px;
  white-space: nowrap;
  width: 52px;
}

.landing-page .overlap-6 {
  height: 469px;
  left: 13px;
  position: absolute;
  top: 213px;
  width: 325px;
}

.landing-page .text-wrapper-35 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 151px;
  white-space: nowrap;
  width: 63px;
}

.landing-page .text-wrapper-36 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 235px;
  white-space: nowrap;
  width: 46px;
}

.landing-page .text-wrapper-37 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 151px;
  white-space: nowrap;
  width: 29px;
}

.landing-page .text-wrapper-38 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 235px;
  white-space: nowrap;
  width: 69px;
}

.landing-page .text-wrapper-39 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 199px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 316px;
  white-space: nowrap;
  width: 107px;
}

.landing-page .rectangle-7 {
  background-color: #f2eff9;
  height: 84px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 162px;
}

.landing-page .rectangle-8 {
  background-color: #ebf8f0;
  height: 84px;
  left: 162px;
  position: absolute;
  top: 11px;
  width: 162px;
}

.landing-page .element-deals {
  color: transparent;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
  width: 36px;
}

.landing-page .text-wrapper-40 {
  color: #7d59c3;
  font-weight: 700;
}

.landing-page .text-wrapper-41 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
}

.landing-page .text-wrapper-42 {
  color: #2f3130;
  font-family: "Roboto-Black", Helvetica;
  font-size: 21.7px;
  font-weight: 900;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  white-space: nowrap;
  width: 100px;
}

.landing-page .text-wrapper-43 {
  color: #2f3130;
  font-family: "Roboto-Black", Helvetica;
  font-size: 21.7px;
  font-weight: 900;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 204px;
  white-space: nowrap;
  width: 100px;
}

.landing-page .text-wrapper-44 {
  color: #2f3130;
  font-family: "Roboto-Black", Helvetica;
  font-size: 21.7px;
  font-weight: 900;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  white-space: nowrap;
  width: 100px;
}

.landing-page .text-wrapper-45 {
  color: #2f3130;
  font-family: "Roboto-Black", Helvetica;
  font-size: 21.7px;
  font-weight: 900;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 204px;
  white-space: nowrap;
  width: 25px;
}

.landing-page .element-match {
  color: transparent;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
  width: 41px;
}

.landing-page .text-wrapper-46 {
  color: #36b368;
  font-weight: 700;
}

.landing-page .text-wrapper-47 {
  color: #36b368;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 700;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 127px;
  white-space: nowrap;
  width: 28px;
}

.landing-page .text-wrapper-48 {
  color: #36b368;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 700;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 211px;
  white-space: nowrap;
  width: 28px;
}

.landing-page .text-wrapper-49 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 205px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 211px;
  white-space: nowrap;
  width: 49px;
}

.landing-page .ellipse-5 {
  background-color: #ffffff;
  border-radius: 24.07px;
  box-shadow: 0px 4.81px 4.81px #7d59c31a;
  height: 48px;
  left: 12px;
  position: absolute;
  top: 30px;
  width: 48px;
}

.landing-page .ellipse-6 {
  background-color: #ffffff;
  border-radius: 24.07px;
  box-shadow: 0px 4.81px 4.81px #a7debd33;
  height: 48px;
  left: 175px;
  position: absolute;
  top: 30px;
  width: 48px;
}

.landing-page .group-12 {
  height: 469px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 277px;
}

.landing-page .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 30.09px;
  box-shadow: 0px 7.22px 24.07px #7d59c326;
  height: 60px;
  left: 0;
  position: absolute;
  top: 409px;
  width: 277px;
}

.landing-page .briefcase {
  height: 22px;
  left: 25px;
  position: absolute;
  top: 43px;
  width: 22px;
}

.landing-page .user-heart-line {
  height: 22px;
  left: 188px;
  position: absolute;
  top: 44px;
  width: 22px;
}

.landing-page .line-5 {
  height: 1px;
  left: 12px;
  position: absolute;
  top: 275px;
  width: 286px;
}

.landing-page .ellipse-7 {
  background-color: #ffffff;
  border: 1.81px solid;
  border-color: #7c5ac7;
  border-radius: 24.07px;
  height: 48px;
  left: 141px;
  position: absolute;
  top: 300px;
  width: 48px;
}

.landing-page .text-wrapper-50 {
  color: #7c5ac7;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 158px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 317px;
  white-space: nowrap;
  width: 20px;
}

.landing-page .ellipse-8 {
  height: 58px;
  left: 104px;
  position: absolute;
  top: 298px;
  width: 58px;
}

.landing-page .ellipse-9 {
  height: 58px;
  left: 79px;
  position: absolute;
  top: 298px;
  width: 58px;
}

.landing-page .ellipse-10 {
  height: 58px;
  left: 55px;
  position: absolute;
  top: 298px;
  width: 58px;
}

.landing-page .ellipse-11 {
  height: 58px;
  left: 31px;
  position: absolute;
  top: 298px;
  width: 58px;
}

.landing-page .ellipse-12 {
  height: 58px;
  left: 7px;
  position: absolute;
  top: 298px;
  width: 58px;
}

.landing-page .group-13 {
  height: 367px;
  left: 735px;
  position: absolute;
  top: 534px;
  width: 330px;
}

.landing-page .overlap-7 {
  height: 367px;
  position: relative;
  width: 333px;
}

.landing-page .rectangle-9 {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 10px 10px 50px #00000026;
  height: 199px;
  left: 0;
  position: absolute;
  top: 168px;
  width: 330px;
}

.landing-page .group-14 {
  height: 351px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 318px;
}

.landing-page .rectangle-10 {
  background-color: #1c6de2;
  border-radius: 0px 36.11px 36.11px 0px;
  height: 7px;
  left: 112px;
  position: absolute;
  top: 278px;
  width: 181px;
}

.landing-page .overlap-group-3 {
  background-color: #00963936;
  border-radius: 0px 36.11px 36.11px 0px;
  height: 7px;
  left: 112px;
  position: absolute;
  top: 288px;
  width: 181px;
}

.landing-page .text-wrapper-51 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 309px;
  white-space: nowrap;
  width: 72px;
}

.landing-page .text-wrapper-52 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 309px;
  white-space: nowrap;
  width: 79px;
}

.landing-page .text-wrapper-53 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 309px;
  white-space: nowrap;
  width: 75px;
}

.landing-page .text-wrapper-54 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 326px;
  white-space: nowrap;
  width: 61px;
}

.landing-page .text-wrapper-55 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 108px;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 326px;
  white-space: nowrap;
  width: 61px;
}

.landing-page .text-wrapper-56 {
  color: #2f3130;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14.4px;
  font-weight: 500;
  left: 220px;
  letter-spacing: 0;
  line-height: 25.3px;
  position: absolute;
  top: 326px;
  white-space: nowrap;
  width: 61px;
}

.landing-page .element-yield-3 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 249px;
  white-space: nowrap;
  width: 78px;
}

.landing-page .line-graph-2 {
  height: 7px;
  left: 115px;
  position: absolute;
  top: -1px;
  width: 37px;
}

.landing-page .text-wrapper-57 {
  color: #2f3130;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 208px;
  width: 132px;
}

.landing-page .rectangle-11 {
  height: 114px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 96px;
}

.landing-page .text-wrapper-58 {
  color: #2f3130;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16.9px;
  font-weight: 700;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 183px;
  white-space: nowrap;
  width: 158px;
}

.landing-page .overlap-8 {
  height: 710px;
  left: 0;
  position: absolute;
  top: 900px;
  width: 1440px;
}

.landing-page .rectangle-12 {
  background-color: #f5f4f8;
  height: 710px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 1440px;
}

.landing-page .line-6 {
  height: 4px;
  left: 90px;
  position: absolute;
  top: 115px;
  width: 23px;
}

.landing-page .text-wrapper-59 {
  color: #2f3130;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 90px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  top: 139px;
  width: 380px;
}

.landing-page .text-wrapper-60 {
  color: #9e2349;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 123px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 105px;
  white-space: nowrap;
}

.landing-page .text-wrapper-61 {
  color: #2f3130;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 670px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 121px;
  width: 240px;
}

.landing-page .text-wrapper-62 {
  color: #2f3130;
  font-family: "Lexend-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 560px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  top: 215px;
  width: 350px;
}

.landing-page .text-wrapper-63 {
  color: #2f3130;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 230px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 455px;
  white-space: nowrap;
  width: 240px;
}

.landing-page .text-wrapper-64 {
  color: #2f3130;
  font-family: "Lexend-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  top: 535px;
  width: 350px;
}

.landing-page .text-wrapper-65 {
  color: #2f3130;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 1110px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 121px;
  width: 240px;
}

.landing-page .text-wrapper-66 {
  color: #2f3130;
  font-family: "Lexend-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1000px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  top: 215px;
  width: 350px;
}

.landing-page .text-wrapper-67 {
  color: #2f3130;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 670px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 455px;
  white-space: nowrap;
  width: 240px;
}

.landing-page .understand-the {
  color: #2f3130;
  font-family: "Lexend-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 560px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  top: 535px;
  width: 350px;
}

.landing-page .text-wrapper-68 {
  color: #2f3130;
  font-family: "Lexend-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 1110px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 455px;
  white-space: nowrap;
  width: 240px;
}

.landing-page .text-wrapper-69 {
  color: #2f3130;
  font-family: "Lexend-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1000px;
  letter-spacing: 0;
  line-height: 25.6px;
  position: absolute;
  top: 535px;
  width: 350px;
}

.landing-page .group-wrapper {
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
  height: 90px;
  left: 560px;
  position: absolute;
  top: 106px;
  width: 90px;
}

.landing-page .group-15 {
  height: 50px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 50px;
}

.landing-page .img-wrapper {
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
  height: 90px;
  left: 1000px;
  position: absolute;
  top: 106px;
  width: 90px;
}

.landing-page .group-16 {
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
  height: 90px;
  left: 120px;
  position: absolute;
  top: 426px;
  width: 90px;
}

.landing-page .group-17 {
  height: 45px;
  left: 15px;
  position: absolute;
  top: 22px;
  width: 60px;
}

.landing-page .group-18 {
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
  height: 90px;
  left: 1000px;
  position: absolute;
  top: 426px;
  width: 90px;
}

.landing-page .group-19 {
  height: 48px;
  left: 20px;
  position: absolute;
  top: 21px;
  width: 50px;
}

.landing-page .group-20 {
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
  height: 90px;
  left: 560px;
  position: absolute;
  top: 426px;
  width: 90px;
}

.landing-page .group-21 {
  height: 32px;
  left: 20px;
  position: absolute;
  top: 29px;
  width: 51px;
}

.landing-page .line-7 {
  height: 580px;
  left: 515px;
  position: absolute;
  top: 83px;
  width: 2px;
}

.landing-page .line-8 {
  height: 2px;
  left: 80px;
  position: absolute;
  top: 384px;
  width: 1310px;
}

.landing-page .line-9 {
  height: 580px;
  left: 955px;
  position: absolute;
  top: 83px;
  width: 2px;
}
